.calculator {
  border: 1px solid black;
  width: 200px;
  border-radius: 5px;
  height: 410px;
}
.display {
  margin: 10px;
  width: 175px;
  font-size: 25px;
}
.buttonscontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button {
  height: 50px;
  width: 50px;
  margin: 2px;
}
